<!-- THROUGH EJS MATE WE DID THIS WE USED A LAYOUT FUNCTION AND PASSED A BOILERPLATE.EJS FILE IN LAYOUT FOLDER. -->
<% layout('./layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-10 offset-1 mt-5">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <% if(process.env.NODE_ENV !=='production' ){ %>
                    <p>
                        <%= err.stack %>
                    </p>

                <% } %>
            </div>
        </div>
    </div>